<div class="row header">
    <span class="sb-icons sb-icons-home icon "></span>
    <a class="e-btn e-download" href="http://localhost:4000"><span class="e-icons e-download-icon e-icon-left e-btn-icon"></span>Download</a>
</div>
<div class="row content">
    <div class="col-md-3 padding0 icontool">
        <div class="viewHeader">
            <span>component</span>
        </div>
        <div class="sidebarSection table-responsive">
            <div class="table">
                <div class="row marginZero">
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="button">
                        <div class="align">
                            <span class="sb-icons sb-icon-button"></span>
                        </div>
                        <div class="alignText">
                            <span>BUTTON</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-textbox align"></span>
                        </div>
                        <div class="alignText">
                            <span>TEXTBOX</span>
                        </div>
                    </div>
                </div>
                <div class="row marginZero">
                        <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-calendar align"></span>
                        </div>
                        <div class="alignText">
                            <span>CALENDAR</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="datepicker">
                        <div class="align">
                            <span class="sb-icons sb-icon-datepicker align"></span>
                        </div>
                        <div class="alignText">
                            <span>DATEPICKER</span>
                        </div>
                    </div>
                </div>
                <div class="row marginZero">
                        <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-combobox align"></span>
                        </div>
                        <div class="alignText">
                            <span>COMBOBOX</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-autocomplete align"></span>
                        </div>
                        <div class="alignText">
                            <span>AUTOCOMPLETE</span>
                        </div>
                    </div>
                </div>
                <div class="row marginZero">
                        <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-dialog align"></span>
                        </div>
                        <div class="alignText">
                            <span>DIALOG</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-tooltip align"></span>
                        </div>
                        <div class="alignText">
                            <span>TOOLTIP</span>
                        </div>
                    </div>
                </div>
                <div class="row marginZero">
                        <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-listview align"></span>
                        </div>
                        <div class="alignText">
                            <span>LISTVIEW</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-tab align"></span>
                        </div>
                        <div class="alignText">
                            <span>TAB</span>
                        </div>
                    </div>
                </div>
                <div class="row marginZero">
                        <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-accordion align"></span>
                        </div>
                        <div class="alignText">
                            <span>ACCORDION</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="align">
                            <span class="sb-icons sb-icon-treeview align"></span>
                        </div>
                        <div class="alignText">
                            <span>TREEVIEW</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 padding0 sidebarSection viewHeaderContainer">
        
        <div class="viewHeaderMiddle">
            <div class="switchbtns">
                <div class="platform-preview"> <div class="platform-toggle">
                    <a onclick="setPlatform('ios', event)" class="active">iOS</a>
                    <a onclick="setPlatform('android', event)" class="">Android</a>
                    <a onclick="setPlatform('windows', event)" class="">Windows</a>
                </div></div>
            </div>
        </div>
        <div id="appContainer" class="ios">
            <div id="appContent" frameborder="0" tabindex="1" (dragover)="dragover($event)" (drop)="drop($event)">
                <div id="iframe"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 padding0 viewHeaderContainer">
        <div class="col-md-3 viewHeaderMiddle propertyHeaderMiddle padding0">
            <span>Property</span>
        </div>
    </div>
</div>